.conditions {
    padding: 100px 0;
    background-color: $primary;
    @media (max-width: 780px){
        padding: 50px 0 25px;                
    }   
    &__inner {
        display: flex;
        justify-content: space-between;        
    }
    &__content {
        flex: 0 0 50%;
        @media (max-width: 600px){
            flex-basis: 100%;              
        }  
    }
    &__content-title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;        
        line-height: 1.4;      
        color: $white;
        @media (max-width: 780px){
            margin-bottom: 30px;
            font-size: 24px;                
        }  
    }
    &__content-item {
        position: relative;
        font-size: 24px;
        line-height: 1.25;
        margin-bottom: 32px;
        padding-left: 32px;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            transform: translateY(50%);
            left: 0;
            width: 16px;
            height: 16px;
            border-radius: 50%;
            background-color: $white;
        }
        @media (max-width: 780px){
            margin-bottom: 20px;
            font-size: 18px;                
        }  
    }
    &__img {
        display: flex;
        align-items: center;
        flex: 0 1 50%;
        @media (max-width: 600px){
            display: none;              
        }  
    }
}
