.conditions {
    padding: 100px 0;
    background-color: $primary;
    @media (max-width: 780px){
        padding: 50px 0;                
    }   
    &__inner {
        display: flex;
        justify-content: space-between;        
    }
    &__content {
        flex: 0 0 59%;
    }
    &__content-title {
        margin-bottom: 50px;
        font-size: 30px;
        font-weight: 700;        
        line-height: 1;      
        color: $white;
        @media (max-width: 780px){
            margin-bottom: 30px;
            font-size: 24px;                
        }  
    }
    &__content-list {
    }
    &__content-item {
    }
    &__img {
        flex: 0 1 59%;
    }
}
